body {
  font-family: "Tahoma", sans-serif;
  margin: 0;
  padding: 0;
  background: #1e1e1e;
  color: #f0f0f0;
  background-attachment: fixed;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

h1, h2, h3 {
  text-align: center;
  color: #00c3ff;
}

.search-bar {
  text-align: center;
  margin: 20px 0;
}

.search-bar input {
  padding: 10px;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
}

.counters {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.dorm {
  background: #2e2e2e;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.room {
  margin-top: 15px;
  background: #3e3e3e;
  padding: 10px;
  border-radius: 8px;
}

.room h3 {
  color: #fbd14b;
  margin-bottom: 10px;
}

.room ul {
  list-style-type: none;
  padding-left: 15px;
}

.room li {
  margin: 8px 0;
  line-height: 1.5em;
  background: #4e4e4e;
  padding: 8px;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .counters {
    flex-direction: column;
    align-items: center;
  }

  .room ul {
    padding-left: 5px;
  }

  .search-bar input {
    width: 95%;
  }
}
